/* 
Joseph Dubon | josephdubon@pm.me
CSS Reset/Starter File
v1.002 | 20200615
*/

/* Reset Box-Sizing */
:root {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
    font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start Here */

html {
  background: url(../assets/soccerFiieldBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 15px;
  margin: 5px;
}

#gameBody {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#gameHeader {
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: ;
  padding: 5px;
  margin: 5px;
}

#gameIntro {
  font-size: 20px;
}

#teamsArea {
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  border: 25px solid black;
  margin: 15px;
}

#teamsArea img {
  width: 300px;
  margin: 25px;
}

#homeTeam {
  background-color: rgba(0, 0, 0, 0.76);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 25px;
  margin: 15px;
}

#visitTeam {
  background-color: rgba(255, 255, 255, 0.76);
  color: #000;
  display: flex;
  flex-flow: row nowrap;
  padding: 25px;
  margin: 15px;
}

button {
  background-color: #1b6e1f;
  border-radius: 5px;
  border: 4px double #fff;
  color: #e3e3e3;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: #001d00;

}

/* End cool button effect code */